body{
     background: url(../img/wzyyt/wybj2.png) no-repeat center 84px;
     background-color: #1a1b1f;
}
#header{
	width: 100%;
    min-width: 1200px;
    min-height: 620px;
    max-width: 1920px;
    height: 1100px;/*记得改*/
    margin: 0 auto;
}
.zynr{
	width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    height: 1000px;/*记得改*/
}
.yybt1{
    width: 680px;
    height: 101.65px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
}
.yybt2{
   width: 1000px;
   height: 151px;
   margin: 0 auto;
}
.yybt2 li{
    margin-right: 18px;
    cursor: pointer;    
    width: 475px;
    height: 151px;
    float: left;
}

.yybt3{
    width: 960px;
    height: 140.8px;
    margin: 30px auto;
}
.yybt3 ul{
    width: 960px;
    line-height: 140.8px;
}
.yybt3 li{
    margin-left: 20px;
    width: 132px;
    height: 140.8px;
    float: left;
}
.yybt4{
    width: 1000px;
    height: 372px;
    margin: 30px auto;
}
.yynr1{
    width: 592px;
    height: 372px;
    float: left;
}
.yynr2{
    background-color: #0b0b0d;
    width: 340px;
    height: 342px;
    padding: 20px;
    float: right;
    border-radius: 10px;
    color: #ffffff;
}

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #16171b;
    padding: 20px 20px;
    /*font-size: 14px;*/
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
    height: 70px;
    margin: 0 auto;
}